#companies .company-wrapper-outer {
	background-color: transparent;

	width: 247px;
	height: 150px;
	display: inline-block;
	margin:10px;
	/*border: 5px solid black;*/
	padding: 0 15px;
}
#companies .company-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
	height: 150px;
	width: 247px;
	
}
#companies a {
	height: 100%;
}
#companies img {

	width:100%;


}
/* Panel Styling and Positioning */

#info> .content {
	height:165px;
	text-align: center;
}
.panel {
	color: #eee;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 100%;
	max-width: 1000px;
}
.column-left{ 
	float: left;
	padding-left: 30px; 
}
.column-right{ 
	float: right;
	padding-right: 30px;
}
.column-center{ 
	display: inline-block;
}

.parent {
    font-size: 0;
}
.content {
	background: rgba(0,0,0,0.8);
	border-radius: 3px;
	margin:20px;
}
#info .content {
	padding: 20px 0;
}
#companies .content {
	text-align:center;
	padding:20px;
}

.content h3 {
	height: 100%;
	margin: 0 0.2em;
	text-align: justify;
}

.companies-title {
	margin: 0 0 0.4em 0;
}

/*Avoid overflow on very small screens*/

@media only screen and (max-width: 685px) {
	.panel {
		max-width:100%;
		width:100% !important;
		position: relative;
		padding: 0;
		text-align: center !important;
		left:0;
	}
	.left, .right {
		height: 175px;
		text-align: center;
		width: 100%;
	}
	.left {
		display: block;
	}
	.right {
		width: 100%;
	}
	#info > .content {
		height: 335px;
	}
	#companies > .content {
		padding-left: 0;
		padding-right: 0;
	}
	.detail {
		margin: 0 auto;
		width: 175px;
	}
}
@media only screen and (max-width: 760px) {
	.right {
		width: 45%;
	}
}
@media only screen and (max-width: 500px) {
	.company-wrapper-outer, .company-wrapper-inner, .company-image {
		width: 80% !important;
	}
}
@media only screen and (max-width: 1000px) {
	.panel {
		padding: 0;
	}
}