
/*
///// MEDIA STUFF /////
*/

@media only screen and (max-device-width: 480px) {
	body {
		background: none !important;
	}
	.small.icon.column {
  	display: none;
  }
  .big.column, .red-bg.column {
  	width: 100% !important;
  	border: none !important;
  }
  .header.row {
  	height: 100%;
  	overflow: hidden;
  }
  * {
  	margin: 0;
  }
}

/* Small screens (default) */
html { font-size: 100%; }
 
/* Medium screens (640px) */
@media (min-width: 40rem) { 
	html { font-size: 112%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
	html { font-size: 120%; }
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 40rem) {
  .small.icon.column {
  	display: none;
  }
  .big.column, .red-bg.column {
  	width: 100% !important;
  	border: none !important;
  }
 }

/*
///// GENERAL /////
*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
		
body {
	font: 400 15px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #4c5058;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 1600px;
	background-image: url(boston-smaller.jpg);
	background-attachment: fixed;
	background: url(boston-smaller.jpg) no-repeat center center fixed;
}

a, a:hover, a:visited {
	color: #4c5058;
	
}
a {
    text-decoration: none !important;
}

h1 {
	display: block;
	font: 300 40px/1.3 "Helvetica Neue", Helvetica,Arial,sans-serif;
	padding-bottom: 20px;	
}

h2 {
	display: block;
	font: 300 24px/1.3 "Helvetica Neue", Helvetica,Arial,sans-serif;
	padding-bottom: 20px;
	color: #4c5058;

}
h4 {
	display: block;
	font: 300 24px/1.3 "Helvetica Neue", Helvetica,Arial,sans-serif;
	color: white;

}

h5 {
	display: block;
	font: 300 20px/1.3 "Helvetica Neue", Helvetica,Arial,sans-serif;
	color: white;
	margin: 0;
	margin-bottom: .5em;

}

h6 {
	display: inline;
	font: 300 20px/1.3 "Helvetica Neue", Helvetica,Arial,sans-serif;
	color: #e54448;
	text-align: center;
	padding-bottom: 10px;

}

/*
///// COLUMNS AND ROWS /////
*/

#outside-container {
	background-color: white;
}

#inside-container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

.column { 
	padding: 20px;
}

.column.small { width: 25%; }
.column.half { width: 50%; }
.column.big { width: 75%; }

.column.full { 
	width: 100%; 
	text-align: center;
}

.column.red-bg {
	background-color: #e54448;
	color: white;
	text-align: center;
}

.column.red-bg a {
	color: white;
}

.column.red-bg:nth-child(1) {
	border-right: 1px solid white;
}

.column img {
	max-width: 100%;
}

.header.row {
	color: white;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	top: 0;
	right: 0;
	background-color: transparent;
	position: relative;
}

.header.row a, .header.row a:hover, .header.row a:visited {
	color: white;
}

.header.row img#logo {
	margin-top: 10px;
	margin: 0 auto;
	display: block;
}

.header.row #info {
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 50%;
}

.header.row #info .content {
	padding: 20px;
}

.header.full.column {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

/*
///// MISC /////
*/

.button {
	background: #e54448;
	border-radius: 5px;
	border: none;
	box-shadow: 0 5px #d81e23;
	color: white;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
	display: inline-block;
	max-width: 160px;

}

.button:hover {
	top: 2px;
	box-shadow: 0 3px #d81e23;
}

span.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

}