html, body {
	box-sizing: border-box;
	height: 100%;
}

html {
	font: 400 16px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #4c5058;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background: url(../../Site_Images/boston-smaller.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: transparent;
}

#logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 200px;
	text-align: center;
}

.listings {
	background-color: rgba(0, 0, 0, 0.9);
}

img {
	/*width: 300px;*/
	width: 40%;
}

hr {
	color: white;
	background-color: white;
}

ul li {
	color: #ccc;
}

.grid .row {
	text-align: center;
}

.listing-button-home {
	margin-bottom: 30px;
}

.company-img {
	text-align: center;
	padding-top: auto;
	margin-bottom: 20px;
}